################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/opencv_003/v16
/packages/OpenCvSharp3-AnyCPU.4.0.0.20181129
